/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}
img{
  width: 100%;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

footer {
  align-content: right;
}
/* Write all remaining styles here */

.col-1 {
  width: 23%;
  float: left;
  border: 1px;
  background: #eee;
}
