/*////////////// Fonts //////////////*/
@font-face {
font-family: 'Baskerville';
src: url(../fonts/Baskerville.ttc);
}

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

img{
	width: 100%;
}

h1 {
  font-family: 'Baskerville', serif;
  font-size: 5em;
  color: 	#98ACA5;
	margin-bottom: 10px;
}

h2{
  font-size: 2em;
  color: 	#98ACA5;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;

}

footer {
	padding-top: 20px;
	width: 100%;
  text-align:  right;
	clear: both;
	font-size: .9em;
}
/* Write all remaining styles here */
#necklace{
  width: 100%;
	border-style: solid;
	border-color:#98ACA5;
	border-width: 4px;
}

.col-1 {
  width: 24.5%;
  float: left;
  border-style: solid;
  border-color:#98ACA5;
	border-width: 4px;
  margin: .3%;
	box-sizing: border-box;
}

h1:hover{
	color: 	#707E79;
}

div:hover{
	border-color: 	#808080;
}

.first{
  margin-left: 0px;
}

.last{
	margin-right: 0px;
}

#img_top_border{
	padding-top:  8px;
	border-top: 4px solid #98ACA5;
	border-width: thin;
	width: 100%;
}
