/*////////////// Fonts //////////////*/
@font-face {
font-family: 'Baskerville';
src: url(../fonts/Baskerville.ttc);
}

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}
img{
  width: 100%;
}

h1 {
  font-family: 'Baskerville', serif;
  font-size: 5em;
  color: rgb(111,127,122);
}

h2{
  font-size: 2em;
  color: rgb(111,127,122);
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

footer {
  text-align: : right;
	clear: both;
	font-size: .9em;
}
/* Write all remaining styles here */

.col-1 {
  width: 23%;
  float: left;
  border-style: solid;
  border-color: rgb(111,127,122);
  margin: 1%;
	box-sizing: border-box;
}

.col-1 a:hover{
	border-style: solid;
	border-color: rgb(111,127,150);
}
.first{
  margin-left: 0px;
}
